.version.ph_d__program /* version checker */
{
	color: #0000E1;
	background-color: #AC4FF2;
}

.html
{
	background-color: #A39B94;
}

#page
{
	z-index: 1;
	width: 990px;
	min-height: 1380.9500000000023px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#pu13943
{
	width: 0.01px;
	margin-left: -288px;
}

#u13943
{
	z-index: 24;
	width: 1490px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
}

#u904
{
	z-index: 27;
	width: 619px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 659px;
}

#u910
{
	z-index: 29;
	width: 489px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 298px;
}

#u915-4
{
	z-index: 31;
	width: 382px;
	min-height: 181px;
	background-color: transparent;
	line-height: 26px;
	font-size: 20px;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 355px;
}

#u928-4
{
	z-index: 35;
	width: 847px;
	min-height: 163px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 686px;
	left: 355px;
}

#u929-4
{
	z-index: 39;
	width: 887px;
	min-height: 37px;
	background-color: transparent;
	color: #2B7097;
	line-height: 38px;
	font-size: 32px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 623px;
	left: 355px;
}

#u753
{
	z-index: 51;
	height: 128px;
	border-style: none;
	border-color: transparent;
	background-color: #3083A7;
}

#u753-bw
{
	z-index: 51;
	height: 128px;
}

#u736
{
	z-index: 52;
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
}

#u736_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	position: relative;
	left: -100px;
}

#u13316
{
	z-index: 61;
	width: 984px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-bottom: -38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 105px;
}

#u13374
{
	z-index: 63;
	margin-left: 26px;
	position: relative;
	background: url("../images/u13374_states.png") no-repeat 0px 0px;
}

#u13374_states
{
	height: 50px;
	width: 783px;
	vertical-align: top;
}

#u13374:hover #u13374_states
{
	background: url("../images/u13374_states-r.png") no-repeat 0px 0px;
}

#menuu13317
{
	z-index: 65;
	width: 984px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#u13318
{
	width: 195px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13321
{
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u13323-4
{
	width: 195px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u13321:hover #u13323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13321:active #u13323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13321:hover #u13323-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13321:active #u13323-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13353
{
	width: 195px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u13356
{
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u13358-4
{
	width: 195px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u13321.MuseMenuActive #u13323-4,#u13356:hover #u13358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13356:active #u13358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13356:hover #u13358-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13356:active #u13358-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13367
{
	width: 195px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u13370
{
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u13371-4
{
	width: 195px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u13356.MuseMenuActive #u13358-4,#u13370:hover #u13371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13370:active #u13371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13370:hover #u13371-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13370:active #u13371-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13325
{
	width: 195px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 591px;
}

#u13349
{
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u13349.MuseMenuActive
{
	background-color: transparent;
	margin: 0px;
}

#u13351-4
{
	width: 181px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 0px;
}

#u13370.MuseMenuActive #u13371-4,#u13349:hover #u13351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13349:active #u13351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13349:hover #u13351-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13349:active #u13351-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13352
{
	z-index: 90;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 181px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u13349:active #u13352
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u13349.MuseMenuActive #u13352
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u13326
{
	width: 204px;
	background-color: transparent;
	top: 34px;
}

#u13327
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u13336
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u13339-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u13336:hover #u13339-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u13343
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u13345-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u13336.MuseMenuActive #u13339-4,#u13343:hover #u13345-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u13335,#u13342,#u13328
{
	width: 204px;
	background-color: transparent;
	position: relative;
}

#u13331
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u13336:hover,#u13343:hover,#u13331:hover
{
	background-color: #1884A5;
	margin: 0px -10000px 0px 0px;
}

#u13332-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u13343.MuseMenuActive #u13345-4,#u13331:hover #u13332-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u13331.MuseMenuActive #u13332-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u13360
{
	width: 196px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 788px;
}

#u13363
{
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u13321:active,#u13356:active,#u13370:active,#u13363:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u13365-4
{
	width: 196px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u13349.MuseMenuActive #u13351-4,#u13363:hover #u13365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13363:active #u13365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13363.MuseMenuActive #u13365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u13363:hover #u13365-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13363:active #u13365-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u13321.MuseMenuActive #u13323-4 p,#u13356.MuseMenuActive #u13358-4 p,#u13370.MuseMenuActive #u13371-4 p,#u13349.MuseMenuActive #u13351-4 p,#u13363.MuseMenuActive #u13365-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u736-bw
{
	z-index: 52;
	height: 87px;
}

#u6440
{
	z-index: 53;
	width: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 922px;
	left: 515px;
}

#u6446
{
	z-index: 55;
	width: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 922px;
	left: 853px;
}

#u6452
{
	z-index: 57;
	width: 238px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 922px;
	left: 515px;
}

#u6458
{
	z-index: 59;
	width: 238px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 922px;
	left: 853px;
}

#u6452:hover,#u6458:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 922px -10000px 0px 0px;
}

#pu1868-4
{
	width: 0.01px;
	margin-left: 219px;
	margin-top: 17px;
}

#u1868-4
{
	z-index: 47;
	width: 257px;
	min-height: 34px;
	background-color: transparent;
	color: #1884A5;
	line-height: 23px;
	font-size: 19px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1869-4
{
	z-index: 43;
	width: 246px;
	min-height: 34px;
	background-color: transparent;
	color: #1884A5;
	line-height: 23px;
	font-size: 19px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#u793
{
	z-index: 26;
	width: 990px;
	height: 1258px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	top: -1211px;
	margin-bottom: -1211px;
	position: relative;
}

#u113
{
	z-index: 2;
	width: 990px;
	padding-bottom: 8px;
	margin-top: 1px;
}

#u112
{
	z-index: 3;
	width: 922px;
	margin-right: -10000px;
	padding: 12px 32px 11px 36px;
}

#pu114-8
{
	width: 0.01px;
}

#u114-8
{
	z-index: 4;
	width: 466px;
	min-height: 70px;
	margin-right: -10000px;
}

#u115-8
{
	z-index: 12;
	width: 433px;
	min-height: 70px;
	margin-right: -10000px;
	left: 489px;
}

#u116-4
{
	z-index: 20;
	width: 625px;
	min-height: 14px;
	margin-left: 139px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 990px;
	padding-top: 60px;
}

#page .verticalspacer
{
	clear: both;
}

