.version.facutly__ph_d__program /* version checker */
{
	color: #0000F3;
	background-color: #97EAF2;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2310px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u9735
{
	z-index: 25;
	height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
}

#u9735-bw
{
	z-index: 25;
	height: 96px;
}

#u11970
{
	z-index: 314;
	position: relative;
	width: 271px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 55px;
	background: url("../../images/u11970_states.png") no-repeat 0px 0px;
}

#u11970_states
{
	height: 86px;
	width: 271px;
	vertical-align: top;
}

#u11970:hover #u11970_states
{
	background: url("../../images/u11970_states-r.png") no-repeat 0px 0px;
}

#u11943
{
	z-index: 23;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#accordionu11434
{
	z-index: 254;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u11435
{
	z-index: 255;
	background-color: transparent;
}

#u11436-4
{
	z-index: 256;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #1884A5;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	line-height: 17px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u11436-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 17px;
	margin: 0px;
}

#u11436-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 17px;
	margin: 0px;
}

#u11436-4.AccordionPanelTabOpen
{
	background-color: #177E9E;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 17px;
	margin: 0px;
}

#u11436-4:hover p
{
	color: #0085A3;
	visibility: inherit;
}

#u11436-4:active p
{
	color: #0085A3;
	visibility: inherit;
}

#u11437
{
	z-index: 260;
	border-style: none;
	border-color: transparent;
	background-color: #1884A5;
	padding-bottom: 6px;
}

#menuu11438
{
	z-index: 261;
	width: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 115px;
}

#u11481
{
	width: 150px;
	background-color: transparent;
	position: relative;
}

#u11484
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u11487-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u11484:hover #u11487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11484:active #u11487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11484:hover #u11487-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11484:active #u11487-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11491
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u11494-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u11484.MuseMenuActive #u11487-4,#u11491:hover #u11494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11491:active #u11494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11491:hover #u11494-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11491:active #u11494-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11470
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u11471-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u11491.MuseMenuActive #u11494-4,#u11470:hover #u11471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11470:active #u11471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11470:hover #u11471-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11470:active #u11471-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11440
{
	width: 150px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u11442-4
{
	width: 136px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u11440:hover #u11442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u11440:active #u11442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u11440.MuseMenuActive #u11442-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u11440:hover #u11442-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11440:active #u11442-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11443
{
	z-index: 286;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 136px;
	background: transparent url("../../images/arrowmenudown.gif") no-repeat center center;
}

#u11440:active #u11443
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u11440.MuseMenuActive #u11443
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u11444
{
	width: 110px;
	background-color: transparent;
	left: 150px;
}

#u11445
{
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11454
{
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u11455-4
{
	width: 102px;
	min-height: 34px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11454:hover #u11455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u11449
{
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u11454:hover,#u11449:hover
{
	background-color: #1884A5;
	margin: 0px -10000px 0px 0px;
}

#u11451-4
{
	width: 102px;
	min-height: 34px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u11454.MuseMenuActive #u11455-4,#u11449:hover #u11451-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u11449.MuseMenuActive #u11451-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u11453,#u11446,#u11460
{
	width: 110px;
	background-color: transparent;
	position: relative;
}

#u11461
{
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u11461.MuseMenuActive
{
	background-color: #666666;
	margin: 0px -10000px 0px 0px;
}

#u11464-4
{
	width: 102px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u11461:hover #u11464-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u11461.MuseMenuActive #u11464-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u11488,#u11467,#u11439,#u11474
{
	width: 150px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u11475
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
}

#u11484:active,#u11491:active,#u11470:active,#u11440:active,#u11475:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u11478-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u11470.MuseMenuActive #u11471-4,#u11475:hover #u11478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11475:active #u11478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11475.MuseMenuActive #u11478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u11475:hover #u11478-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11475:active #u11478-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u11436-4.AccordionPanelTabOpen p,#u11484.MuseMenuActive #u11487-4 p,#u11491.MuseMenuActive #u11494-4 p,#u11470.MuseMenuActive #u11471-4 p,#u11440.MuseMenuActive #u11442-4 p,#u11475.MuseMenuActive #u11478-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#accordionu11434-bw
{
	z-index: 254;
	height: 37px;
}

#pu9735,#pu11943,#pu10748
{
	width: 0.01px;
}

#u10748
{
	z-index: 26;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #3083A7;
}

#u10748-bw
{
	z-index: 26;
	height: 45px;
}

#u10749
{
	z-index: 27;
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
	padding-bottom: 1px;
}

#u10750-4
{
	z-index: 28;
	width: 280px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 19px;
}

#u10749-bw
{
	z-index: 27;
	height: 37px;
}

#pu10751
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 15px;
}

#u10751
{
	z-index: 32;
	width: 98px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10753-17
{
	z-index: 34;
	width: 195px;
	min-height: 147px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u10757
{
	z-index: 71;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10759-18
{
	z-index: 73;
	width: 190px;
	min-height: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u10763
{
	z-index: 112;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10765-18
{
	z-index: 114;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu10757,#pu10763,#pu10770
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 29px;
}

#u10770
{
	z-index: 173;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10769-18
{
	z-index: 155;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u10775
{
	z-index: 195;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10777-18
{
	z-index: 197;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#pu10782
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 14px;
}

#u10782
{
	z-index: 252;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10781-18
{
	z-index: 234;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u10754
{
	z-index: 51;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10756-18
{
	z-index: 53;
	width: 168px;
	min-height: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#pu10760
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 26px;
}

#u10760
{
	z-index: 91;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10762-19
{
	z-index: 93;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu10766
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 32px;
}

#u10766
{
	z-index: 132;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10768-21
{
	z-index: 134;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu10772
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 9px;
}

#u10772
{
	z-index: 175;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10774-18
{
	z-index: 177;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu10775,#pu10754,#pu10779
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 13px;
}

#u10779
{
	z-index: 232;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10778-17
{
	z-index: 215;
	width: 199px;
	min-height: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 110px;
}

#u10753-2,#u10759-3,#u10765-3,#u10769-3,#u10777-3,#u10781-3,#u10756-3,#u10762-3,#u10768-3,#u10774-3,#u10778-3
{
	font-weight: bold;
}

#u10769-4,#u10777-4,#u10781-4,#u10768-6,#u10774-4,#u10778-4
{
	font-weight: normal;
}

#pu10055
{
	width: 0.01px;
	margin-top: 3px;
}

#u10055
{
	z-index: 2;
	height: 122px;
}

#u10055-bw
{
	z-index: 2;
	margin-top: 51px;
	height: 122px;
}

#u10056
{
	z-index: 3;
	padding: 7px 6px 11px 9px;
}

#u10057-15
{
	z-index: 4;
	width: 365px;
	min-height: 70px;
}

#u10059-4
{
	z-index: 19;
	width: 365px;
	min-height: 14px;
	margin-top: 8px;
}

#u10056-bw
{
	z-index: 3;
	height: 146px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

