#u10055
{
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
}

#u10056
{
	border-style: none;
	border-color: transparent;
	background-color: #3083A7;
}

#u10057-15
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u10057-4,#u10057-6,#u10057-7
{
	font-weight: normal;
}

#u10057-10,#u10057-13
{
	text-align: left;
}

#u10057-2,#u10057-8,#u10057-11
{
	font-weight: bold;
}

#u10059-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

