.version.hitachi_su_70 /* version checker */
{
	color: #0000E7;
	background-color: #DE8F87;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #A39B94;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1192px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#pu10325
{
	width: 0.01px;
}

#u10325
{
	z-index: 24;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
}

#u10327
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
	padding-bottom: 20px;
}

#u10330-6
{
	z-index: 30;
	width: 536px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 212px;
}

#u10330-2
{
	font-size: 37px;
	line-height: 44px;
	font-weight: bold;
}

#u10330-4
{
	font-size: 17px;
	line-height: 20px;
	font-weight: normal;
}

#u10327-bw
{
	z-index: 26;
	margin-top: 323px;
	height: 82px;
}

#u10328
{
	z-index: 28;
	height: 258px;
	width: 166px;
	vertical-align: top;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 27px;
	background: url("../../images/u10328.png") no-repeat 0px 0px;
}

#u10328:hover
{
	background: url("../../images/u10328-r.png") no-repeat 0px 0px;
}

#u8765
{
	z-index: 36;
	height: 128px;
	border-style: none;
	border-color: transparent;
	background-color: #3083A7;
}

#u8765-bw
{
	z-index: 36;
	margin-top: 7px;
	height: 128px;
}

#u8766
{
	z-index: 37;
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
}

#u8767
{
	z-index: 38;
	width: 761px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 4px;
}

#u8768
{
	z-index: 40;
	margin-left: 17px;
	position: relative;
	background: url("../../images/u8768_states.png") no-repeat 0px 0px;
}

#u8768_states
{
	height: 45px;
	width: 735px;
	vertical-align: top;
}

#u8768:hover #u8768_states
{
	background: url("../../images/u8768_states-r.png") no-repeat 0px 0px;
}

#menuu8769
{
	z-index: 42;
	width: 761px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u8784
{
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8785
{
	width: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8786-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8785:hover #u8786-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8785:active #u8786-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8785:hover #u8786-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8785:active #u8786-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8777
{
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 152px;
}

#u8778
{
	width: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8780-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8785.MuseMenuActive #u8786-4,#u8778:hover #u8780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8778:active #u8780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8778:hover #u8780-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8778:active #u8780-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8791
{
	width: 151px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u8792
{
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8795-4
{
	width: 151px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8778.MuseMenuActive #u8780-4,#u8792:hover #u8795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8792:active #u8795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8792:hover #u8795-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8792:active #u8795-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8798
{
	width: 151px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#u8799
{
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8801-4
{
	width: 137px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8792.MuseMenuActive #u8795-4,#u8799:hover #u8801-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8799:active #u8801-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8799:hover #u8801-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8799:active #u8801-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8800
{
	z-index: 67;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 137px;
	background: transparent url("../../images/arrowmenudown.gif") no-repeat center center;
}

#u8799:active #u8800
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u8799.MuseMenuActive #u8800
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u8803
{
	width: 204px;
	background-color: transparent;
	top: 34px;
}

#u8804
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u8813
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u8815-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u8813:hover #u8815-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8822
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u8825-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u8813.MuseMenuActive #u8815-4,#u8822:hover #u8825-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8812,#u8819,#u8805
{
	width: 204px;
	background-color: transparent;
	position: relative;
}

#u8808
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u8813:hover,#u8822:hover,#u8808:hover
{
	background-color: #1884A5;
	margin: 0px -10000px 0px 0px;
}

#u8809-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u8822.MuseMenuActive #u8825-4,#u8808:hover #u8809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8808.MuseMenuActive #u8809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8770
{
	width: 151px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#u8773
{
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8785:active,#u8778:active,#u8792:active,#u8799:active,#u8773:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u8776-4
{
	width: 151px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8799.MuseMenuActive #u8801-4,#u8773:hover #u8776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8773:active #u8776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8773.MuseMenuActive #u8776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8773:hover #u8776-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8773:active #u8776-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8785.MuseMenuActive #u8786-4 p,#u8778.MuseMenuActive #u8780-4 p,#u8792.MuseMenuActive #u8795-4 p,#u8799.MuseMenuActive #u8801-4 p,#u8773.MuseMenuActive #u8776-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u8766-bw
{
	z-index: 37;
	height: 87px;
}

#pu10318-16
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 35px;
}

#u10318-16
{
	z-index: 94;
	width: 132px;
	background-color: transparent;
	text-align: right;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u10321
{
	z-index: 117;
	width: 5px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	position: relative;
	margin-right: -10000px;
	left: 162px;
}

#u10319-7
{
	z-index: 110;
	width: 496px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 193px;
}

#pu10335
{
	width: 0.01px;
	margin-left: 99px;
	margin-top: 32px;
}

#u10335
{
	z-index: 130;
	width: 629px;
	height: 245px;
	border-style: none;
	border-color: transparent;
	background-color: #A3DBE9;
	opacity: 0.27;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=27)";
	filter: alpha(opacity=27);
	position: relative;
	margin-right: -10000px;
}

#u10336
{
	z-index: 131;
	width: 629px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.43;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=43)";
	filter: alpha(opacity=43);
	position: relative;
	margin-right: -10000px;
}

#u10337
{
	z-index: 132;
	width: 629px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.43;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=43)";
	filter: alpha(opacity=43);
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
}

#u10338
{
	z-index: 133;
	width: 629px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.43;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=43)";
	filter: alpha(opacity=43);
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
}

#u10339-20
{
	z-index: 134;
	width: 279px;
	min-height: 186px;
	background-color: transparent;
	font-size: 13px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#u10318-2,#u10318-11,#u10339,#u10339-4,#u10339-7,#u10339-10,#u10339-13,#u10339-16
{
	font-weight: bold;
}

#u10340-13
{
	z-index: 154;
	width: 371px;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u10340-2,#u10340-4,#u10340-6,#u10340-8,#u10340-10
{
	font-size: 12px;
}

#u10341-8
{
	z-index: 167;
	width: 336px;
	background-color: transparent;
	font-size: 12px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 279px;
}

#u10324-12
{
	z-index: 118;
	width: 406px;
	min-height: 81px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 233px;
	margin-top: 24px;
	position: relative;
}

#u10324-2
{
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
}

#u10324-5,#u10324-7,#u10324-10
{
	line-height: 20px;
}

#pu7532
{
	width: 0.01px;
	margin-top: 24px;
}

#u7532,#u7532-bw
{
	z-index: 2;
	height: 122px;
}

#u7533
{
	z-index: 3;
	padding: 12px 72px 6.400000000000091px 13px;
}

#u7534-8
{
	z-index: 4;
	width: 417px;
	min-height: 70px;
}

#u7536-4
{
	z-index: 20;
	width: 625px;
	min-height: 14px;
	margin-left: 58px;
	margin-top: 11px;
}

#u7533-bw
{
	z-index: 3;
	height: 96px;
}

#u7535-8
{
	z-index: 12;
	width: 341px;
	min-height: 70px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 409px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

