.version.research /* version checker */
{
	color: #000008;
	background-color: #FE1635;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #A39B94;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1901.95px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -7px;
}

#pu7476
{
	width: 0.01px;
}

#u7476
{
	z-index: 24;
	height: 128px;
	border-style: none;
	border-color: transparent;
	background-color: #3083A7;
}

#u7476-bw
{
	z-index: 24;
	margin-top: 7px;
	height: 128px;
}

#u7477
{
	z-index: 25;
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
}

#u8205
{
	z-index: 199;
	width: 761px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 4px;
}

#u8206
{
	z-index: 201;
	margin-left: 17px;
	position: relative;
	background: url("../../images/u8206_states.png") no-repeat 0px 0px;
}

#u8206_states
{
	height: 45px;
	width: 735px;
	vertical-align: top;
}

#u8206:hover #u8206_states
{
	background: url("../../images/u8206_states-r.png") no-repeat 0px 0px;
}

#menuu8207
{
	z-index: 203;
	width: 761px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u8208
{
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8211
{
	width: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8213-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8211:hover #u8213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8211:active #u8213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8211:hover #u8213-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8211:active #u8213-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8250
{
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 152px;
}

#u8253
{
	width: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8253.MuseMenuActive
{
	background-color: transparent;
	margin: 0px;
}

#u8254-4
{
	width: 150px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 0px;
}

#u8211.MuseMenuActive #u8213-4,#u8253:hover #u8254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8253:active #u8254-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8253:hover #u8254-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8253:active #u8254-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8257
{
	width: 151px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 304px;
}

#u8258
{
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8260-4
{
	width: 151px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8253.MuseMenuActive #u8254-4,#u8258:hover #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8258:active #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8258:hover #u8260-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8258:active #u8260-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8215
{
	width: 151px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#u8216
{
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8217-4
{
	width: 137px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8258.MuseMenuActive #u8260-4,#u8216:hover #u8217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8216:active #u8217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8216:hover #u8217-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8216:active #u8217-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8219
{
	z-index: 228;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 137px;
	background: transparent url("../../images/arrowmenudown.gif") no-repeat center center;
}

#u8216:active #u8219
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u8216.MuseMenuActive #u8219
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
}

#u8220
{
	width: 204px;
	background-color: transparent;
	top: 34px;
}

#u8221
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u8232
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u8234-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u8232:hover #u8234-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8237
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u8239-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u8232.MuseMenuActive #u8234-4,#u8237:hover #u8239-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8229,#u8236,#u8222
{
	width: 204px;
	background-color: transparent;
	position: relative;
}

#u8225
{
	width: 204px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u8232:hover,#u8237:hover,#u8225:hover
{
	background-color: #1884A5;
	margin: 0px -10000px 0px 0px;
}

#u8226-4
{
	width: 196px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u8237.MuseMenuActive #u8239-4,#u8225:hover #u8226-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8225.MuseMenuActive #u8226-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8243
{
	width: 151px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#u8244
{
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 14px;
	position: relative;
}

#u8211:active,#u8258:active,#u8216:active,#u8244:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u8245-4
{
	width: 151px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u8216.MuseMenuActive #u8217-4,#u8244:hover #u8245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8244:active #u8245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8244.MuseMenuActive #u8245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8244:hover #u8245-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8244:active #u8245-4 p
{
	color: #FFBC31;
	visibility: inherit;
}

#u8211.MuseMenuActive #u8213-4 p,#u8253.MuseMenuActive #u8254-4 p,#u8258.MuseMenuActive #u8260-4 p,#u8216.MuseMenuActive #u8217-4 p,#u8244.MuseMenuActive #u8245-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7477-bw
{
	z-index: 25;
	height: 87px;
}

#slideshowu7537
{
	z-index: 26;
	width: 0.01px;
	height: 279px;
	position: relative;
}

#u7580
{
	position: absolute;
	width: 768px;
	height: 279px;
	background-color: transparent;
}

#u7580popup
{
	z-index: 27;
}

#u7595
{
	z-index: 28;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7585
{
	z-index: 30;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7593
{
	z-index: 32;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7597
{
	z-index: 34;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7599
{
	z-index: 36;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7591
{
	z-index: 38;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7601
{
	z-index: 40;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7587
{
	z-index: 42;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7583
{
	z-index: 44;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7589
{
	z-index: 46;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7581
{
	z-index: 48;
	width: 768px;
	height: 279px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7565
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 219px;
	left: 394px;
}

#u7565popup
{
	z-index: 50;
}

#u7567-4
{
	z-index: 51;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7576-4
{
	z-index: 55;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7574-4
{
	z-index: 59;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7570-4
{
	z-index: 63;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7573-4
{
	z-index: 67;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7569-4
{
	z-index: 71;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7571-4
{
	z-index: 75;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7575-4
{
	z-index: 79;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7566-4
{
	z-index: 83;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7572-4
{
	z-index: 87;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u7568-4
{
	z-index: 91;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #36ABD1;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u7541-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #32A0C3;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	padding: 10px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	top: 111px;
	left: 27px;
}

#u7541-4popup
{
	z-index: 95;
}

#u7540-4
{
	position: absolute;
	width: 10px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #32A0C3;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	padding: 10px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	top: 111px;
	left: 713px;
}

#u7540-4popup
{
	z-index: 99;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu7625
{
	width: 0.01px;
	margin-top: -1px;
}

#u7625
{
	z-index: 103;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: #3083A7;
}

#u7625-bw
{
	z-index: 103;
	height: 51px;
}

#u7626
{
	z-index: 104;
	border-style: none;
	border-color: transparent;
	background-color: #4BAAD3;
}

#u7627-4
{
	z-index: 105;
	width: 309px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-bottom: -14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 40px;
}

#u7626-bw
{
	z-index: 104;
	height: 43px;
}

#pu7642-7
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 52px;
}

#u7642-7
{
	z-index: 111;
	width: 348px;
	min-height: 378px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7640
{
	z-index: 109;
	width: 312px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 381px;
}

#u7643-4
{
	z-index: 118;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 40px;
	margin-top: 38px;
	position: relative;
}

#pu7644
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 9px;
}

#u7644
{
	z-index: 122;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7646-13
{
	z-index: 124;
	width: 195px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u7648
{
	z-index: 151;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 322px;
}

#u7647-14
{
	z-index: 137;
	width: 199px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 419px;
}

#u7647-4
{
	font-weight: normal;
}

#pu7678-10
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 92px;
}

#u7678-10
{
	z-index: 153;
	width: 348px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7642-2,#u7678-2
{
	font-size: 23px;
	line-height: 28px;
	font-weight: bold;
}

#u7642-3,#u7642-5,#u7678-3,#u7678-5,#u7678-6,#u7678-8
{
	font-size: 17px;
	text-align: justify;
	line-height: 20px;
}

#u7679
{
	z-index: 163;
	width: 303px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u7690-4
{
	z-index: 195;
	width: 206px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 40px;
	margin-top: 45px;
	position: relative;
}

#pu7681
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 11px;
}

#u7681
{
	z-index: 165;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7683-13
{
	z-index: 167;
	width: 210px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u7684
{
	z-index: 180;
	width: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 339px;
}

#u7686-13
{
	z-index: 182;
	width: 210px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u7646-2,#u7647-3,#u7683-2,#u7686-2
{
	font-weight: bold;
}

#pu7532
{
	width: 0.01px;
	margin-top: 198px;
}

#u7532,#u7532-bw
{
	z-index: 2;
	height: 122px;
}

#u7533
{
	z-index: 3;
	padding: 12px 72px 6.400000000000091px 13px;
}

#u7534-8
{
	z-index: 4;
	width: 417px;
	min-height: 70px;
}

#u7536-4
{
	z-index: 20;
	width: 625px;
	min-height: 14px;
	margin-left: 58px;
	margin-top: 11px;
}

#u7533-bw
{
	z-index: 3;
	height: 96px;
}

#u7535-8
{
	z-index: 12;
	width: 341px;
	min-height: 70px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 409px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

